.event_container_question{
    padding: 40px;
    height: 40vh;
}
.events-h2{
    text-align: center;
    text-transform: uppercase;  
}

.events_container{
    display: flex;
}

.event_container-figure{
    position: relative;
}

.event_container_figure-caption{
    @include position(absolute, 0, 0, 0, 0); 
    text-align: center;
    padding: 40px;
    color: $white;
    background: $linear;
    display: none;
    // &:hover{
    //     display: block;
    // }
}

.event_container-figure:hover .event_container_figure-caption{
    display: block;
}

.event_container_figure-h2{
    margin: 0 50px;
    padding:20px;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

.event_container_figure-text{
    font-size: 1.7rem;
}
// 
// QUESTION SECTION
// 

.event_container_question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event_container_question-h2{
    text-transform: uppercase;
}

.event_container_question-input{
    border: none;
    border-bottom: 1px solid grey;
    width: 50%;
    text-align: center;
    padding-bottom: 15px;
}

.event_container_question-input::placeholder{
    font-size: 1.7rem;
    text-transform: capitalize;
}

.event_container_question .button_submit-start{
    margin: 30px 0px 20px 0px;
}