.footer_container{
    background:$third;
    display: flex;
}

.footer_container-one{
    display: flex;
    flex: 1 2 80%;
}

.footer_contact-nav, .footer_container-one_info, .footer_container-one_gallery{
    margin: 10px;
    flex: 1 1 calc((100% / 3) - 20px);
}

.footer_contact-nav, .footer_container-one_info, .footer_container-one_gallery{
    // text-align: center;
    color: $white;
}

.contact_nav-h4, .footer_info-h4, .footer_gallery-h4{
    font-size: 2.5rem;  
    text-transform: uppercase;  
}

.footer_contact-nav{
    padding: 25px;
}

.contact_nav{
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact_nav_item{
    margin: 20px 0px;
}

.contact_nav_item-link{
    font-size: 1.5rem;
    color: white;
}

.foot_container_email{
    width: 100%;
    background: $third;
    padding: 10px;
    background-image:url(../assets/paper-plane-regular.svg);
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: 95%;
}

.foot_container_email::placeholder{
    color: $white;
    font-size: 1.3rem;;
}

// FOOTER INFO HERE

.footer_container-one_info{
    padding: 25px 0px;
}


.footer_info-text{
    font-size: 1.5rem;
    line-height: 1.7;
}


// INSTAGRAM GALLERY

.footer_container-one_gallery{
    padding: 25px 0px;
}

.footer_gallery_container{
    display: flex;
    flex-wrap: wrap; 
}

.footer_gallery_item{
    margin: 5px;
}

//  FOOTER CONTAINER TWO

.footer_container-two{
    text-align: center;
}

.footer_container_two-h2{
    text-transform: uppercase;
    color: $white;
}

.footer_container_two-nav--long{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width:50%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.footer_container_two-item-link{
    font-size: 1.7rem;
    color:$white;
    text-transform: uppercase;

}   

.footer_container_two-text{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
}

// SOICAL NAV 

.footer_container_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
}

.footer_social-nav{
    list-style: none;
    padding:60px 10px 60px 10px;
    display: flex;
    flex-direction: column;    
}

.foot_soical_nav-item{
    margin: 20px 0px;
}

.footer_side_social-icon{
    font-size: 2rem;
    color: $fourth;
    &:hover{
        color:$white;
   }
}