header{
    background-image: url(../assets/image-1.jpeg);
    height:100vh;
    background-size: cover;
    background-position: center;
}

.header_row{
    display: flex;  
    justify-content: space-between;
    // border:1px solid green;
    align-items: center;
    &_h2{
        color: white;
        flex:1 1 50%;
        // border: 1px solid red;
    }
}

.head_nav{
    flex: 3 1 50%;
    // border: 1px solid green;
   
}

.head_nav_ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.head_nav_item{
    margin: 5px;
    padding: 5px;
   
}

.head_nav_link{
    color:white;
    font-size: 2rem;
}

.header_row2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
}

.header_row_text{
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
}

.button_submit-start{
    background: $primary;
    border: none;
    width: 10%;
    font-size: 1.8rem;
    padding: 5px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    border-radius: 20px;
}