@media(max-width:300px){
    .header{
        background-position: 83%;
    }


    // SECTIONE ONE
    .button_submit-start,
    .section_one_container-two .button_submit-view{
        width:40%;
    }

    .section_one_container-two{
        padding: 5px 5px 30px 5px;
    }

    // SECTION TWO
    .section_two{
        height: 66vh;
    }

    .section_two-h2{
        text-align: center;
    }

    .button_submit-view{
        width: 35%;
    }

    // REVIEW
    .reviews{
        height: 66vh;
    }

    // EVENTS
    .event_container_question{
        display: none;
    }

    // SECTIONE FIVE
    .section_five_container{
        margin: 0;
    }

    // SECTION SIX
    .section_six_container_item{
        margin: 0 10px;
        width: calc(100% - 20px);
    }

    .section_six_container_item-figure{
        margin: 0;
    }

    // FOOTER
    .foot_container_email{
        display: none;
    }
}