@media(max-width:785px){

    .header{
        background-position: right;
    }

    .button_submit-start{
        width: 15%;
    }

// SETION ONE

    .section_one{
        flex-direction: column;
    }
    .section_one_container-one{
        margin:0 auto;
        width:70%;
    }

    .container_one-item{
        padding: 0px 60px;
    }

    .section_one_container-two{
        padding-bottom: 50px;
    }

// SECTION THREE SERVIES
    .section_three_container-text{
        font-size: 1.5rem;
        margin-bottom:10px;
    }

// EVENTS
    .event_container-figure:hover .event_container_figure-caption{
        display: none;
    }
    
    
    .event_container_question-input::placeholder,
    .foot_container_email::placeholder{
        line-height: 5px;
        font-size: 1.2rem;
    }

// FOOTER 
    .footer_container-two{
        display: none;
    }
}



// MEDIA 705PX

@media (max-width:705px){
    .section_one_container-one{
        display: none;
    }

    .contact_nav-h4,
    .footer_info-h4,
    .footer_info-text,
    .contact_nav,
    .foot_container_email::placeholder{
        text-align: center;

    }



    .footer_container-one_gallery{
        display: none;
    }
}

// MEDIA 680PX

// @media(max-width:680px){
//     .section_one-h2{
//         margin: 20px 0px;
//     }

//     .section_two{
//         height: 100vh;
//     }  

//     .section_two-text{
//         padding: 2px;
//     }

//     .section_three_container-one{
//         margin: 20px;
//     }

//     .reviews{
//         height: 105vh;
//     }
//     .reviews_container-blockquote{
//         padding: 6px;
//     }

//     .event_container_question{
//         height: 80vh;
//     }

//     .section_five{
//         height: 100vh;
//     }

//     .section_five_container{
//         padding: 115px 0px 35px 0px;
//     }
//     .section_six_figcaption_text-bold{
//         font-size: 1.3rem;
//     }
// }

@media(max-width:640px){
    .section_two{
        height: 64vh;
    }
}