@media (max-width:1110px){
 .header_row,
 .header_row2{
     padding: 0px 30px;
 }
 .section_one_container-one{
     padding:0px;
 }
//  .container_one-item{
//      flex: 0 0 50%;
//  }
 .event_container_figure-caption{
     padding: 0px 20px;
 }
 .event_container_figure-h2{
     margin: 0px 20px;
 }
 .section_six_container{
     padding: 0px 20px;
 }

 .footer_gallery_item{
     flex: 0 1 20%;
 }
}