@media(max-width:401px){

    .section_one-h2,
    .section_two-h2,
    .section_three-h2,
    .reviews-h2,
    .event_container_question-h2{
        margin:20px;
        font-size: 2rem;
    }
    .contain_two-text,
    .section_two-text,
    .section_three_container-text,
    .reviews_container-blockquote{
        font-size: 1.5rem;
    }

    // SECTION ONE
    .section_one_container-two .button_submit-view{
        width: 30%;
    }

    .button_submit-view{
        width: 25%;
    }

    // SECTION TWO
    .section_two{
        height: 52vh;
        padding-top: 20px;
    }

    .section_two-text{
        margin-top: 0;
    }

    // SECTION THREE
    .section_three_container-h4{
        margin-top: 0;
        font-size: 1.6rem;
    }

    .button_submit-start{
        width: 30%;
    }

    .event_container_question-input::placeholder{
        font-size: 1.5rem;
    }
}

@media(max-width:380px){
    .section_two{
        height: 60vh;
    }

    .reviews{
        height: 70vh;
    }

    .event_container_question{
        display: none;
    }
    
    .section_five_container{
    margin-top: 0;
    }
    
    .section_five{
        height: 75vh;
    }

    .foot_container_email{
        display: none;
    }
}