$secondary:  #da331d; 
$primary:  #e5bf4b;
$third :  #2a2a2a;
$fourth : #848484;
$linear: rgba(42, 42, 42, 0.9);


@mixin position($type, $top, $right, $bottom, $left) { 
    position: $type; 
    top: $top; 
    right: $right; 
    bottom: $bottom; 
    left: $left; 
}