article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif, 'Lora', serif; }

h1 {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

p {
  font-size: 1rem; }

a {
  font-size: 1rem;
  text-decoration: none; }

.contain_two-text,
.section_two-text,
.section_three_container-text,
.reviews_container-blockquote,
.event_container_figure-text,
.event_container_question-input::-webkit-input-placeholder,
.section_five_item-text,
.contact_nav_item,
.footer_info-text,
.foot_container_email::-webkit-input-placeholder {
  font-family: 'Lora', serif; }

.contain_two-text,
.section_two-text,
.section_three_container-text,
.reviews_container-blockquote,
.event_container_figure-text,
.event_container_question-input:-ms-input-placeholder,
.section_five_item-text,
.contact_nav_item,
.footer_info-text,
.foot_container_email:-ms-input-placeholder {
  font-family: 'Lora', serif; }

.contain_two-text,
.section_two-text,
.section_three_container-text,
.reviews_container-blockquote,
.event_container_figure-text,
.event_container_question-input::-ms-input-placeholder,
.section_five_item-text,
.contact_nav_item,
.footer_info-text,
.foot_container_email::-ms-input-placeholder {
  font-family: 'Lora', serif; }

.contain_two-text,
.section_two-text,
.section_three_container-text,
.reviews_container-blockquote,
.event_container_figure-text,
.event_container_question-input::placeholder,
.section_five_item-text,
.contact_nav_item,
.footer_info-text,
.foot_container_email::placeholder {
  font-family: 'Lora', serif; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

img {
  max-width: 100%;
  display: block; }

.header {
  background-image: url(../assets/image-1.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center; }

.header_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header_row_h2 {
    color: white;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    text-transform: uppercase; }

.head_nav {
  -webkit-box-flex: 3;
  -ms-flex: 3 1 50%;
  flex: 3 1 50%; }

.head_nav_ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.head_nav_item {
  margin: 5px;
  padding: 5px; }

.head_nav_link {
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase; }
  .head_nav_link:hover {
    color: #848484; }

.header_nav-label {
  font-size: 3rem;
  color: white;
  display: none; }

.header_nav-hamburger-icon {
  display: none; }

.header_row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 85vh; }

.header_row_text {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  margin-top: 10px; }

.button_submit-start {
  background: #da331d;
  border: none;
  width: 10%;
  font-size: 1.8rem;
  padding: 5px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  border-radius: 20px; }
  .button_submit-start:hover {
    background: #e5bf4b; }

.section_one {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.section_one-h2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  text-transform: uppercase;
  margin: 50px 0px; }

.section_one_container-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 60px 30px 60px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc(50% - 120px);
  flex: 1 1 calc(50% - 120px);
  margin-right: 0;
  padding: 0 50px;
  padding-right: 0; }

.container_one-item {
  margin: 0px 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc(50% - 40px);
  flex: 1 1 calc(50% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px;
  margin-bottom: none; }

.container_one_item-text {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase; }

.section_one_container-two {
  margin: 0 20px;
  padding: 40px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(50% - 40px);
  flex: 0 1 calc(50% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding-left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container_two-h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0; }

.contain_two-text {
  font-size: 2rem;
  padding: 0 40px; }

.section_one_container-two .button_submit-view {
  background: #da331d;
  border: none;
  width: 20%;
  font-size: 1.8rem;
  padding: 5px;
  -ms-flex-item-align: center;
  align-self: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  border-radius: 20px; }
  .section_one_container-two .button_submit-view:hover {
    background: #e5bf4b; }

.section_two {
  background: #e5bf4b;
  height: 60vh; }

.section_two_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section_two-h2 {
  text-transform: uppercase;
  margin-top: 60px; }

.section_two-text {
  margin: 20px;
  padding: 30px;
  font-size: 2rem;
  text-align: center;
  color: #2a2a2a; }

.button_submit-view {
  border: none;
  width: 10%;
  font-size: 1.8rem;
  padding: 5px;
  -ms-flex-item-align: center;
  align-self: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  border-radius: 20px;
  background: #2a2a2a; }
  .button_submit-view:hover {
    background: #da331d; }

.section_three {
  padding: 50px 0px; }

.section_three_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section_three-h2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  text-align: center;
  text-transform: uppercase; }

.section_three_container-one {
  margin: 20px 60px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc(80% - 120px);
  flex: 1 1 calc(80% - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px; }

.section_three_container_item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section_three_container-h4 {
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-bottom: 0; }

.section_three_container-text {
  text-align: center;
  padding: 10px 30px;
  font-size: 1.8rem; }

.reviews {
  background: #2a2a2a;
  height: 60vh; }

.review_inner_container {
  padding-top: 40px; }

.reviews-h2 {
  text-align: center;
  text-transform: uppercase;
  color: #a7a7a7;
  margin: 20px 0px; }

.review_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.reviews_container-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.reviews_container-icon {
  color: white;
  font-size: 4rem;
  padding: 0 10px;
  margin: 0 30px; }
  .reviews_container-icon:hover {
    color: #da331d; }

.reviews_container-blockquote {
  color: #a7a7a7;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 30px;
  width: 60%;
  text-align: center;
  line-height: 1.5; }

.review_blockquote-name {
  margin: 20px;
  font-size: 1.6rem; }

.event_container_question {
  padding: 40px;
  height: 40vh; }

.events-h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 60px 0px; }

.events_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.event_container-figure {
  position: relative; }

.event_container_figure-caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 40px;
  color: white;
  background: rgba(42, 42, 42, 0.9);
  display: none; }

.event_container-figure:hover .event_container_figure-caption {
  display: block; }

.event_container_figure-h2 {
  margin: 0 50px;
  padding: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid white; }

.event_container_figure-text {
  font-size: 1.7rem; }

.event_container_question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.event_container_question-h2 {
  text-transform: uppercase; }

.event_container_question-input {
  border: none;
  border-bottom: 1px solid grey;
  width: 50%;
  text-align: center;
  padding: 15px; }

.event_container_question-input::-webkit-input-placeholder {
  font-size: 1.7rem;
  text-transform: capitalize; }

.event_container_question-input:-ms-input-placeholder {
  font-size: 1.7rem;
  text-transform: capitalize; }

.event_container_question-input::-ms-input-placeholder {
  font-size: 1.7rem;
  text-transform: capitalize; }

.event_container_question-input::placeholder {
  font-size: 1.7rem;
  text-transform: capitalize; }

.event_container_question .button_submit-start {
  margin: 30px 0px 20px 0px; }
  .event_container_question .button_submit-start:hover {
    background-color: #e5bf4b; }

.section_five {
  background: #e5bf4b;
  height: 40vh; }

.section_five_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 0px;
  padding: 75px 0px 30px 0px; }

.section_five-item {
  text-align: center;
  margin: 0 auto; }

.section_five_item-icon {
  font-size: 5rem; }

.section_five_item_text-bold {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 8px; }

.section_five_item-text {
  font-size: 2rem;
  margin-top: 0; }

.section_six {
  padding-bottom: 50px; }

.section_six-h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 70px 0px 40px 0px; }

.section_six_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.section_six_container_item {
  margin: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc((100 / 3) - 20px);
  flex: 1 1 calc((100 / 3) - 20px);
  padding: 5px; }

.section_six_figcaption_text-bold {
  font-size: 2rem;
  font-weight: bold; }

.section_six_figcaption-read-more {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #da331d; }

.footer_container {
  background: #2a2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer_container-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 2 80%;
  flex: 1 2 80%; }

.footer_contact-nav, .footer_container-one_info, .footer_container-one_gallery {
  margin: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc((100% / 3) - 20px);
  flex: 1 1 calc((100% / 3) - 20px); }

.footer_contact-nav, .footer_container-one_info, .footer_container-one_gallery {
  color: white; }

.contact_nav-h4, .footer_info-h4, .footer_gallery-h4 {
  font-size: 2.5rem;
  text-transform: uppercase; }

.footer_contact-nav {
  padding: 25px; }

.contact_nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.contact_nav_item {
  margin: 20px 0px; }

.contact_nav_item-link {
  font-size: 1.5rem;
  color: white; }

.foot_container_email {
  width: 100%;
  background: #2a2a2a;
  padding: 10px;
  background-image: url(../assets/paper-plane-regular.svg);
  background-size: 5%;
  background-repeat: no-repeat;
  background-position: 95%; }

.foot_container_email::-webkit-input-placeholder {
  color: white;
  font-size: 1.3rem; }

.foot_container_email:-ms-input-placeholder {
  color: white;
  font-size: 1.3rem; }

.foot_container_email::-ms-input-placeholder {
  color: white;
  font-size: 1.3rem; }

.foot_container_email::placeholder {
  color: white;
  font-size: 1.3rem; }

.footer_container-one_info {
  padding: 25px 0px; }

.footer_info-text {
  font-size: 1.5rem;
  line-height: 1.7; }

.footer_container-one_gallery {
  padding: 25px 0px; }

.footer_gallery_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer_gallery_item {
  margin: 5px; }

.footer_container-two {
  text-align: center; }

.footer_container_two-h2 {
  text-transform: uppercase;
  color: white; }

.footer_container_two-nav--long {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 80px; }

.footer_container_two-item-link {
  font-size: 1.7rem;
  color: white;
  text-transform: uppercase; }

.footer_container_two-text {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white; }

.footer_container_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 10px; }

.footer_social-nav {
  list-style: none;
  padding: 60px 10px 60px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.foot_soical_nav-item {
  margin: 20px 0px; }

.footer_side_social-icon {
  font-size: 2rem;
  color: #848484; }
  .footer_side_social-icon:hover {
    color: white; }

@media (max-width: 1320px) {
  .event_container_figure-caption {
    padding: 0px 20px; }
  .event_container_figure-h2 {
    margin: 0px 20px; } }

@media (max-width: 1110px) {
  .header_row,
  .header_row2 {
    padding: 0px 30px; }
  .section_one_container-one {
    padding: 0px; }
  .event_container_figure-caption {
    padding: 0px 20px; }
  .event_container_figure-h2 {
    margin: 0px 20px; }
  .section_six_container {
    padding: 0px 20px; }
  .footer_gallery_item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%; } }

@media (max-width: 1025px) {
  .event_container_figure-h2 {
    margin: 0px 9px; }
  .event_container_figure-text {
    font-size: 1.5rem; } }

@media (max-width: 950px) {
  .event_container_figure-h2 {
    padding: 10px;
    font-size: 1.7rem; }
  .event_container_figure-text {
    font-size: 1.5rem; } }

@media (max-width: 910px) {
  .container_one-item {
    margin: 0px 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(50% - 20px);
    flex: 0 1 calc(50% - 20px);
    padding: 20px; }
  .section_one_container-two {
    padding: 20px; }
  .contain_two-text {
    padding: 0; }
  .event_container_figure-h2 {
    padding: 10px;
    font-size: 1.7rem; }
  .event_container_figure-text {
    font-size: 1.5rem; }
  .section_six_figcaption_text-bold {
    font-size: 1.5rem; }
  .footer_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer_social-nav {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .foot_soical_nav-item {
    margin: 20px; } }

@media (max-width: 785px) {
  .header {
    background-position: right; }
  .button_submit-start {
    width: 15%; }
  .section_one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .section_one_container-one {
    margin: 0 auto;
    width: 70%; }
  .container_one-item {
    padding: 0px 60px; }
  .section_one_container-two {
    padding-bottom: 50px; }
  .section_three_container-text {
    font-size: 1.5rem;
    margin-bottom: 10px; }
  .event_container-figure:hover .event_container_figure-caption {
    display: none; }
  .footer_container-two {
    display: none; } }

@media (max-width: 705px) {
  .section_one_container-one {
    display: none; }
  .contact_nav-h4,
  .footer_info-h4,
  .footer_info-text,
  .contact_nav,
  .foot_container_email::-webkit-input-placeholder {
    text-align: center; }
  .contact_nav-h4,
  .footer_info-h4,
  .footer_info-text,
  .contact_nav,
  .foot_container_email:-ms-input-placeholder {
    text-align: center; }
  .contact_nav-h4,
  .footer_info-h4,
  .footer_info-text,
  .contact_nav,
  .foot_container_email::-ms-input-placeholder {
    text-align: center; }
  .contact_nav-h4,
  .footer_info-h4,
  .footer_info-text,
  .contact_nav,
  .foot_container_email::placeholder {
    text-align: center; }
  .footer_container-one_gallery {
    display: none; } }

@media (max-width: 680px) {
  .section_three_container-one {
    margin: 20px; }
  .section_six_figcaption_text-bold {
    font-size: 1.3rem; } }

@media (max-width: 640px) {
  .section_two {
    height: 64vh; } }

@media (max-width: 600px) {
  .head_nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #e5bf4b;
    top: -120%;
    -webkit-transition: all 5s;
    -o-transition: all 5s;
    transition: all 5s;
    z-index: 99999; }
  .head_nav_ul {
    padding: 10px;
    margin: 20px;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .header_nav-label {
    display: block;
    position: fixed;
    top: 1%;
    right: 2%;
    font-size: 4rem;
    cursor: pointer;
    z-index: 99999; }
  input#hamburg:checked + .head_nav {
    top: 0%; }
  .section_one-h2 {
    margin-bottom: 20px; }
  .section_one_container-one {
    display: none; }
  .container_two-h4 {
    display: none; }
  .section_two-text {
    padding-top: 0; }
  .section_two-text {
    padding-bottom: 10px; }
  .button_submit-view {
    width: 15%; }
  .section_three_container-one {
    margin-top: 0; }
  .section_three_container_item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 20px; }
  .section_three_container-text {
    padding: 0; }
  .events-h2 {
    display: none; }
  .section_five_container {
    margin: 30px 40px; }
  .section_five-item {
    margin: 0 10px; }
  .section_five_item-text {
    font-size: 1.5rem; }
  .section_six_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .section_six_container_item {
    margin: 0 40px;
    width: calc(100% - 80px); }
  .section_six_container_item-figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 10px 50px; }
  .section_six_item-figcaption {
    text-align: center; }
  .footer_container .wrapper {
    margin: 0 50px;
    width: calc(100% - 100px); }
  .footer_contact-nav {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center; }
  .foot_container_email {
    width: 80%; }
  .footer_container-one_info {
    display: none; }
  .footer_container-one_gallery {
    display: none; }
  .foot_container_email::-webkit-input-placeholder {
    text-align: center; }
  .foot_container_email:-ms-input-placeholder {
    text-align: center; }
  .foot_container_email::-ms-input-placeholder {
    text-align: center; }
  .foot_container_email::placeholder {
    text-align: center; } }

@media (max-width: 500px) {
  .section_two-text {
    font-size: 1.7rem; } }

@media (max-width: 450px) {
  .header {
    background-image: linear-gradiet(to bottom, rgba(114, 116, 106, 0.7), rgba(114, 116, 106, 0.7)) url(/assets/image-1.jpeg);
    background-position: 90%; }
  .button_submit-start {
    width: 23%; }
  .header_nav-label {
    top: 2%; }
  .head_nav_ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 0 50px;
    margin: 20px; }
  .head_nav_item:hover {
    border-bottom: 2px solid #da331d; }
  .section_one_container-two {
    padding-top: 0; }
  .contain_two-text {
    font-size: 1.7rem; }
  .section_one_container-two .button_submit-view {
    width: 23%; }
  .section_two-text {
    font-size: 1.7rem; }
  .button_submit-view {
    width: 20%; }
  .section_three {
    padding-top: 30px; }
  .section_three-h2 {
    margin: 10px 0px; }
  .section_three_container-h4 {
    font-size: 2rem; }
  .section_three_container_item {
    margin: 8px; }
  .section_three_container-text {
    font-size: 1.7rem; }
  .review_inner_container {
    padding-top: 20px; }
  .reviews_container-blockquote {
    padding: 20px;
    padding-bottom: 0; }
  .events_container {
    display: none; }
  .section_five {
    height: 60vh; }
  .section_five_container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .section_five-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    margin: 10px; }
  .section_six-h2 {
    margin-top: 40px; } }

@media (max-width: 401px) {
  .section_one-h2,
  .section_two-h2,
  .section_three-h2,
  .reviews-h2,
  .event_container_question-h2 {
    margin: 20px;
    font-size: 2rem; }
  .contain_two-text,
  .section_two-text,
  .section_three_container-text,
  .reviews_container-blockquote {
    font-size: 1.5rem; }
  .section_one_container-two .button_submit-view {
    width: 30%; }
  .button_submit-view {
    width: 25%; }
  .section_two {
    height: 52vh;
    padding-top: 20px; }
  .section_two-text {
    margin-top: 0; }
  .section_three_container-h4 {
    margin-top: 0;
    font-size: 1.6rem; }
  .button_submit-start {
    width: 30%; }
  .event_container_question-input::-webkit-input-placeholder {
    font-size: 1.5rem; }
  .event_container_question-input:-ms-input-placeholder {
    font-size: 1.5rem; }
  .event_container_question-input::-ms-input-placeholder {
    font-size: 1.5rem; }
  .event_container_question-input::placeholder {
    font-size: 1.5rem; } }

@media (max-width: 375px) {
  .section_two {
    height: 60vh; }
  .reviews {
    height: 70vh; }
  .event_container_question {
    display: none; }
  .section_five_container {
    margin-top: 0; }
  .section_five {
    height: 75vh; }
  .foot_container_email {
    display: none; } }

@media (max-width: 300px) {
  .header {
    background-position: 83%; }
  .button_submit-start,
  .section_one_container-two .button_submit-view {
    width: 40%; }
  .section_one_container-two {
    padding: 5px 5px 30px 5px; }
  .section_two {
    height: 66vh; }
  .section_two-h2 {
    text-align: center; }
  .button_submit-view {
    width: 35%; }
  .reviews {
    height: 66vh; }
  .event_container_question {
    display: none; }
  .section_five_container {
    margin: 0; }
  .section_six_container_item {
    margin: 0 10px;
    width: calc(100% - 20px); }
  .section_six_container_item-figure {
    margin: 0; }
  .foot_container_email {
    display: none; } }
